
<div class="container" style="margin-bottom:150px;">

  <p style="font-size:30px;" class="text-center">
    <i class="fas fa-cannabis" style="margin-right:5px;font-size:70%;color:#3e8042"></i>
    <span style="color:#3e8042">Cannabis Deals and Coupons</span>
    <i class="fas fa-bong" style="margin-left:5px;font-size:70%;color:#3e8042"></i>
  </p>
  <!--<p style="font-size:20px;" class="text-center">
    Looking to post a deal at your dispensery?<br>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Post A Deal</button>
  </p>-->

  <div class="row" style="margin-bottom:10px;">

    <div class="col-sm">
      <form class="form-inline my-2 my-lg-0" id="">
        <div class="input-group mb-2" id="locationInputDeals">
          <div class="input-group-prepend" id="">
            <div class="input-group-text" id=""><i class="fas fa-map-marker-alt"></i></div>
          </div>
          <input type="text" class="form-control locationValue" id="inlineFormInputGroup" placeholder="Location: Chicago">
        </div>
      </form>
    </div>

    <div class="col-sm">
      <form class="form-inline my-2 my-lg-0">
      <div class="input-group mb-2" id="otherSearch">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fas fa-search"></i></div>
        </div>
        <input type="text" class="form-control otherSearchValue" id="inlineFormInputGroup" placeholder="Search: Sativa Ounces">
      </div>
    </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div id="filters" class="button-group">
        <button class="button filtersButton is-checked  btn-sm" data-filter="*">Show All</button>
        <button class="button leafButton filtersButton btn-sm" data-filter=".leaf">Flower</button>
        <button class="button vapeButton filtersButton btn-sm" data-filter=".vape">Vape</button>
        <button class="button ediblesButton filtersButton btn-sm" data-filter=".edibles">Edibles</button>
        <button class="button btn-sm  filtersButton" data-filter=".concentrates">Concentrates</button>
        <button class="button btn-sm  filtersButton" data-filter=".wax">Wax</button>
        <button class="button btn-sm  filtersButton" data-filter=".topical">Topical</button>
        <button class="button btn-sm  filtersButton" data-filter=".accessories">Accessories</button>
        <button class="button btn-sm  filtersButton" data-filter=".apparal">Apparal</button>
        <button class="button btn-sm  filtersButton" data-filter=".CBD">CBD</button>

        <button class="button btn-sm  filtersButton" data-filter=".other">Other</button>
        <!--<button class="button cbdButton filtersButton" data-filter=".CBD">CBD</button>
        <button class="button kratomButton filtersButton" data-filter=".kratom">Kratom</button>-->
        <!--


        <!--
          <button class="button" data-filter=".alkali, .alkaline-earth">Edibles</button>
          <button class="button" data-filter=":not(.transition)">Concentrates</button>
          <button class="button" data-filter=".metal:not(.transition)">metal but not transition</button>
          <button class="button" data-filter="numberGreaterThan50">number > 50</button>
          <button class="button" data-filter="ium">name ends with &ndash;ium</button>-->
        </div>
      </div>
      <div class="col-sm">
        <div id="sorts" class="button-group">
          <button class="button is-checked sortButton  btn-sm" data-sort-by="utcTime">Newest</button>
          <button class="button sortButton  btn-sm" data-sort-by="views">Views</button>
          <button class="button sortButton  btn-sm" data-sort-by="distanceaway">Closest</button>
          <button class="button sortButton  btn-sm" data-sort-by="likes">Hot Deals</button>

        </div>
      </div>
    </div>

    <div class="row">

    <div class="grid" >


      <span ng-repeat="aDeal in deals" ng-click="clickedOnDealOnDealsPage(aDeal, $event)">

      <div class="element-item {{cleanString(aDeal.type)}} {{cleanString(aDeal.store_data.city)}} {{cleanString(aDeal.deal_name)}} {{cleanString(aDeal.store_data.store_name)}}" data-category="">
        <a href="https://getleafed.com/#/deal?d={{aDeal.id}}" ng-click="clickedOnDealOnDealsPage(aDeal, $event)">
          <img src={{aDeal.image_name}} class="img-fluid" style="max-height:150px;"/>
        </a>
        <br>
        <span style="font-weight:bold;font-size:100%;" class="theDealName">
          {{convertToShortStringIfLong(aDeal.deal_name)}}
        </span>
        <p style="font-size: 70%;color:grey;">
          <a class="storeName"  ng-click="clickedOnStoreName(aDeal, $event)" href="https://getleafed.com/#/">
            {{convertToShortStringIfLong(aDeal.store_data.store_name)}}
          </a>
        </p>
        <p style="font-size: 14px;">
          {{handleDescription(aDeal.deal_description)}}
        </p>
        <span class="prices">


        <span style="font-size:75%;margin-left:0px;font-weight:bold;" class="" >{{aDeal.type}} </span>
        <span style='color:red;text-decoration:line-through;font-size: 12px;margin-left:5px;'>{{handleCurrency(aDeal.previous_price)}}</span>
        <span style="font-size: 12px;"> {{handleCurrency(aDeal.new_price)}} </span>

        </span>
        <span class="distance">
          <i class="fas fa-map-marker-alt" style="margin-right:5px;font-size:85%;"></i>
          <span style="font-size:85%">{{aDeal.store_data.city}}</span>
        </span>
        <span class="distanceAwayLocation">
          <span style="font-size:55%;" class="distanceaway" >{{convertDistanceAway(aDeal.distance_away)}} </span>
          <!--<span style="font-size:55%;" >miles away</span>-->
        </span>
        <!--<span class="type">
          <span style="font-size:75%;" class="" >{{aDeal.type}} </span>
        </span>-->

        <span class="utcTime" style="display:none" >{{aDeal.utc_time}}</span>

        <span class="rightBottom">
          <i class="fas fa-eye" style="font-size:85%"></i>
          <span style="font-size:80%" class="views">{{handleLikesViews(aDeal.views)}}</span>

          <a ><i ng-click="clickedOnHeart(aDeal, $event)" class="heart fa {{handleHeartClass(a)}}" style="font-size:85%"></i></a>
          <span style="font-size:80%" class="likes">{{handleLikesViews(aDeal.likes)}}</span>
        </span>
      </div>
      </span>



<!--
      <div class="element-item metalloid Leaf" data-category="metalloid">
        <img src="images/b.jpg" class="img-fluid rounded mx-auto d-block" style=""><br>
        <h5 style="font-weight:bold;font-size:150%;">
          Maui Wowwwwi
        </h5>
        <p style="font-size: 14px;">
          sjdfkslj fks djlkfj sdlkf jlskdj fklsd jflksd jlkf jlksd jflkds jlkfj sldkf j
        </p>
        <span style='color:red;text-decoration:line-through;font-size: 12px;'>$199</span>
        <span style="font-size: 12px;"> $70</span>
        <p class="distance"> <i class="fas fa-map-marker-alt" style="margin-right:5px;font-size:85%;"></i><span style="font-size:85%">2 miles</span></p>
        <span class="rightBottom">
          <i class="fas fa-eye" style="font-size:85%"></i>
          <span style="font-size:80%">924</span>

          <i class="heart fa fa-heart-o" style="font-size:85%"></i>
          <span style="font-size:80%">22</span>
        </span>
      </div>
      <div class="element-item post-transition metal " data-category="post-transition">
        <h3 class="name">Bismuth</h3>
        <p class="symbol">Bi</p>
        <p class="number">83</p>
        <p class="weight">208.980</p>
      </div>
      <div class="element-item post-transition metal " data-category="post-transition">
        <h3 class="name">Lead</h3>
        <p class="symbol">Pb</p>
        <p class="number">82</p>
        <p class="weight">207.2</p>
      </div>
      <div class="element-item transition metal " data-category="transition">
        <h3 class="name">Gold</h3>
        <p class="symbol">Au</p>
        <p class="number">79</p>
        <p class="weight">196.967</p>
      </div>
      <div class="element-item alkali metal " data-category="alkali">
        <h3 class="name">Potassium</h3>
        <p class="symbol">K</p>
        <p class="number">19</p>
        <p class="weight">39.0983</p>
      </div>
      <div class="element-item alkali metal " data-category="alkali">
        <h3 class="name">Sodium</h3>
        <p class="symbol">Na</p>
        <p class="number">11</p>
        <p class="weight">22.99</p>
      </div>
      <div class="element-item transition metal " data-category="transition">
        <h3 class="name">Cadmium</h3>
        <p class="symbol">Cd</p>
        <p class="number">48</p>
        <p class="weight">112.411</p>
      </div>
      <div class="element-item alkaline-earth metal " data-category="alkaline-earth">
        <h3 class="name">Calcium</h3>
        <p class="symbol">Ca</p>
        <p class="number">20</p>
        <p class="weight">40.078</p>
      </div>
      <div class="element-item transition metal " data-category="transition">
        <h3 class="name">Rhenium</h3>
        <p class="symbol">Re</p>
        <p class="number">75</p>
        <p class="weight">186.207</p>
      </div>
      <div class="element-item post-transition metal " data-category="post-transition">
        <h3 class="name">Thallium</h3>
        <p class="symbol">Tl</p>
        <p class="number">81</p>
        <p class="weight">204.383</p>
      </div>
      <div class="element-item metalloid " data-category="metalloid">
        <h3 class="name">Antimony</h3>
        <p class="symbol">Sb</p>
        <p class="number">51</p>
        <p class="weight">121.76</p>
      </div>
      <div class="element-item transition metal " data-category="transition">
        <h3 class="name">Cobalt</h3>
        <p class="symbol">Co</p>
        <p class="number">27</p>
        <p class="weight">58.933</p>
      </div>
      <div class="element-item lanthanoid metal inner-transition Vape" data-category="lanthanoid">
        <h3 class="name">Ytterbium</h3>
        <p class="symbol">Yb</p>
        <p class="number">70</p>
        <p class="weight">173.054</p>
      </div>
      <div class="element-item noble-gas nonmetal " data-category="noble-gas">
        <h3 class="name">Argon</h3>
        <p class="symbol">Ar</p>
        <p class="number">18</p>
        <p class="weight">39.948</p>
      </div>
      <div class="element-item diatomic nonmetal Leaf" data-category="diatomic">
        <h3 class="name">Nitrogen</h3>
        <p class="symbol">N</p>
        <p class="number">7</p>
        <p class="weight">14.007</p>
      </div>
      <div class="element-item actinoid metal inner-transition Vape" data-category="actinoid">
        <h3 class="name">Uranium</h3>
        <p class="symbol">U</p>
        <p class="number">92</p>
        <p class="weight">238.029</p>
      </div>
      <div class="element-item actinoid metal inner-transition Vape" data-category="actinoid">
        <h3 class="name">Plutonium</h3>
        <p class="symbol">Pu</p>
        <p class="number">94</p>
        <p class="weight">(244)</p>
      </div>
      -->
    </div>
  </div>

    <!--<div class="text-center">
      <a href="" style="font-size:32px;"> Show More</a>
    </div>-->

  </div>
