
<hr>
<div class="container" style="margin-bottom:100px;margin-top:30px;">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">{{deal_picked.store_data.store_name}}</h6>

          <div style="height:300px;width:100%;" id="map"></div>
        </div>
      </div>
      <script>
        var map, infoWindow, geocoder;

        function updateMap() {
          // The location of Uluru
          //{{delivery.dropoff.location.lat}}
          // The map, centered at Uluru
          geocoder = new google.maps.Geocoder();

          console.log("updateMap called")

          var latlng = new google.maps.LatLng(-34.397, 150.644);
          var mapOptions = {
            zoom: 8,
            center: latlng
          }
          map = new google.maps.Map(document.getElementById('map'), mapOptions);
          //codeAddress()
          /*
          map = new google.maps.Map(
          document.getElementById('map'), {zoom: 9, center: "1103 Mulford Street, Evanston, Illinois, 60202"});
          var dropOffMarker = new google.maps.Marker({
          position:  "1103 Mulford Street, Evanston, Illinois, 60202",
          icon: 'https://cbddelivery-64bae.web.app/img/drop_off_icon.png',
          map: map
        });*/
        //}
        //codeGoogleMapAddress("1103 mulford street, evanston, Illinois")

      }

      function codeGoogleMapAddress(address) {
        console.log("codeGoogleMapAddress address:"+address)
        //var address = document.getElementById('address').value;

        geocoder = new google.maps.Geocoder();

        console.log("updateMap called")

        var latlng = new google.maps.LatLng(-34.397, 150.644);
        var mapOptions = {
          zoom: 8,
          center: latlng
        }
        map = new google.maps.Map(document.getElementById('map'), mapOptions);


        geocoder.geocode( { 'address': address}, function(results, status) {
          console.log("GOT ADDRESS!!! address:"+address)
          if (status == 'OK') {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
            });
          } else {
            console.log("map did not work" + status)
            //alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
    </script>

  </div>

  <div class="col-sm">
    <div class="card myCard" style="">
      <img src="{{deal_picked.image_name}}" class="card-img img-fluid >
      <div class="card-body">
        <h5 class="card-title">{{deal_picked.deal_name}}</h5>
        <p class="card-text">{{deal_picked.deal_description}}</p>
        <button type="button" class="btn btn-outline-success printMe">Print Coupon</button>

      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="">{{deal_picked.store_data.store_name}}</a><br>{{deal_picked.store_data.store_address}}<br>

          <span style='color:red;text-decoration:line-through;font-size: 12px;'>{{handleCurrency(deal_picked.price_before)}}</span>
          <span style="font-size: 12px;"> {{handleCurrency(deal_picked.price_after)}}</span>
          <i class="fas fa-map-marker-alt" style="margin-right:5px;font-size:85%;margin-left:15px;"></i><span style="font-size:85%">3 miles</span>
          <i class="fas fa-eye" style="font-size:85%;margin-left:15px;"></i>
          <span style="font-size:80%">{{handleLikesViews(deal_picked.views)}}</span>

          <!--<i class="heart fa fa-heart-o" style="font-size:85%;margin-left:15px;"></i>-->
          <a href=""><i ng-click="clickedOnHeart(deal_picked, $event)" class="heart fa {{handleHeartClass(deal_picked)}}" style="font-size:85%;margin-left:15px;"></i></a>

          <span style="font-size:80%">{{handleLikesViews(deal_picked.likes)}}</span>
        </li>
      </ul>
      <!--<div class="card-body">
      <a href="#" class="card-link">Dispensary Web Site</a>
    </div>-->
  </div>
</div>

<div class="col-sm">
  <p style="font-size:120%">Other Deals At High Times Dispensary</p>
  <ul class="list-group list-group-flush">
    <span ng-repeat="aDeal in dealsAtSameStore" ng-click="clickedOnDealAtSameStore(aDeal)">
    <li class="list-group-item">
      <a href="">{{aDeal.deal_name}}</a>
    </li>
    </span>
  </ul>
  <br>
  <p style="font-size:120%">Other Deals Nearby</p>
  <ul class="list-group list-group-flush">
    <span ng-repeat="aDeal in dealsAtSameCity" ng-click="clickedOnDealAtSameStore(aDeal)">
    <li class="list-group-item">
      <a href="">{{aDeal.deal_name}}</a>
    </li>
    </span>
  </ul>
</div>

</div>


</div>
